* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(4, 124, 176);

    .first-nav {
        width: 90%;
        padding-left: 5%;

        .right-sect {
            position: relative;

            i {
                position: absolute;
                color: rgb(168, 167, 167);
                top: 13px;
                left: 15px;
            }

            input {
                width: 200px;
                padding-left: 40px;
                border-radius: 10px;
            }
        }
    }

    .second-nav {
        padding-bottom: 15px;
    }

    .head-content {
        width: 90%;
        padding-left: 8%;

        a {
            color: white;

            &:hover {
                color: white;
            }
        }
    }
}

main {
    .container {
        .row {
            .head-section {
                width: 95%;
                background-color: rgb(4, 124, 176);
                border-radius: 10px;
                padding-top: 15px !important;
                margin-left: 2.5%;
            }

            .card-section {
                .card {
                    border-radius: 10px;
                    height: auto;
                    margin: 0 20px;

                    img {
                        height: 250px;
                        border-radius: 10px 10px 0 0;
                    }
                }
            }
        }
    }

}

footer {
    background-color: rgb(4, 124, 176);
    margin-top: 4%;

    .first-part {
        padding-top: 5%;

        .footer-left-side {
            img {
                width: 100px;
            }

            p {
                margin: 25px 0 50px 0;
                font-size: 16px !important;
            }


        }

        ul {
            h4 {
                margin-bottom: 15px;
                font-size: 16px;
            }

            li {
                padding: 9px 0;
                list-style-type: none;



                a {
                    color: white;
                    text-decoration: none;
                    font-size: 14px;

                    &:hover {
                        color: white;
                    }
                }

            }
        }
    }

    .second-part {
        .footer-input {
            position: relative;

            input {
                background: transparent;
                border: none;
                border-bottom: 1px solid rgb(226, 232, 226);
                border-inline-start-width: 20px red;
                mask-border-width: 20px;
            }

            ::placeholder {
                color: white;
            }

            .icon {
                position: absolute;
                right: 25%;
                bottom: 15%;
            }
        }
    }
}


@media screen and (min-width: 992px) {}