* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(4, 124, 176);

    .first-nav {
        border-bottom: 1px solid rgb(64, 157, 197);

        form {
            position: relative;

            i {
                position: absolute;
                top: 13px;
                left: 10px;
            }
        }
    }

    .head-content {
        a {
            color: white;
        }
    }
}

main {
    .container {
        .row {
            .head-section {
                width: 96%;
                background-color: rgb(4, 124, 176);
                border-radius: 10px;
                padding-top: 15px !important;
                margin-left: 2%;
            }
            .card-section{
            .card{
                border-radius: 25px;
                height: auto;
                margin: 0 10px;
                img{
                    height: 250px;
                    border-radius: 10px 10px 0 0;
                }
            }
            }
        }
        }
       
}

footer {
    background-color: rgb(4, 124, 176);
}